<div class="container mt-2" >

  
<!-- Implement cards -->
<div class="row">
        <div class="col-md-3 col-sm-6" >
            <div class="card card-block" (click)="openDialog(12)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/Neha.jpg" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ; font-style: oblique;"> <b>Neha </b></h4>
               
            </div> <br>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block" (click)="openDialog(14)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/Nida.jpg" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ;font-style: oblique;"> <b>Nida </b></h4>
                
            </div> <br>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block" (click)="openDialog(13)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/Priya.jpg" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ; font-style: oblique;"><b> Priya </b></h4>
               
            </div> <br>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block" (click)="openDialog(15)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/AshuPatel.jpg" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ; font-style: oblique;"> <b> Ashu Patel </b></h4>
                
            </div> <br>
        </div>    
        <div class="col-md-3 col-sm-6">
            <div class="card card-block" (click)="openDialog(17)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/copy_image.png" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ; font-style: oblique;"> <b>Ankita </b></h4>
                
            </div> <br>
        </div>     <div class="col-md-3 col-sm-6">
            <div class="card card-block" (click)="openDialog(18)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/Aman.jpg" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ; font-style: oblique;"> <b>Aman </b></h4>
        
            </div> <br>
        </div>     <div class="col-md-3 col-sm-6">
            <div class="card card-block" (click)="openDialog(16)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/Sonal.jpeg" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ; font-style: oblique;"> <b> Sonal </b></h4>
                
            </div> <br>
        </div>     <div class="col-md-3 col-sm-6">
            <div class="card card-block" (click)="openDialog(19)">
                <h4 class="card-title text-right">
                    <i class="material-icons">cake</i>
                </h4>
                <img src="../../assets/copy_image.png" width = "auto" height = "auto" alt="Birthday Capture">
                <h4 class="card-title font-style title" style="text-align:center ;font-style: oblique;"> <b>Astha </b></h4>
               
            </div> <br>
        </div>    
    </div>
      
</div>
