<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dialog view</title>
</head>

<body>
  <div *ngIf="data.id==1">
    <mat-dialog-content class="mat-typography">
      <h2 mat-dialog-title class="h2">
        Pani puri is love
      </h2>
      <img style="align-items: center;" src="../../assets/Panipuri.jpg" width="70%" height="70%" alt="Image not loaded" /> <br>
      <p> If you opened a pani puri stall, you would honestly finish the stock. <br> That's how much you love it.
        <br>
      </p>
      <input type="button" class="btn btn-primary" (click)="onNoClick()" value="Close">
    </mat-dialog-content>
  </div>



  <div *ngIf="data.id===2">

    <mat-dialog-content class="mat-typography">
      <h2 mat-dialog-title class="h2">
        A brownie a day keeps the frownies away
      </h2>
      <img style="align-items: center;" src="../../assets/SizzlingBrownie.jpg" width="70%" height="70%"  alt="Image not loaded" /> <br>
      <p>
        The Sizzling Brownie you make is sure to bring smiles!!!! <br> This tempting photo tells the awesomeness of it.
      </p>
      <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
    </mat-dialog-content>
  </div>


  <div *ngIf="data.id==3">
    <mat-dialog-content class="mat-typography">

      <h2 mat-dialog-title class="h2">
        Seeing this cake, my sweet tooth is tingling
      </h2>
      <img style="align-items: center;"  src="../../assets/BirthdayCake.jpg" width="70%" height="70%"  alt="Image not loaded" /> <br>
      <p>
        Fresh out of the oven. Here comes the masterpiece of Chef Aditi.<br> Aditi ne banaya hua cake to khana banta haina boss!
      </p>
      <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
    </mat-dialog-content>
  </div>

  <div *ngIf="data.id==4" >
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aadu
    </h2>
    <div class="center-block" style="text-align: center;
      display: block;">
      <img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/MadhuTai.jpg" alt="Success">
      <br>
      Wishing you many many happy returns of the day. Have lots of fun and enjoy your day.
      <br> - <i>Madhu Tai</i>
    </div>
    <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
  </div>


  <div *ngIf="data.id==5">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Sis!!
    </h2>
    <div class="center-block" style="text-align: center;
      display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/ChaituTai.jpeg" alt="Success">
      <br>
      I want you to know that no matter what happens in life, I am always there for you. That is what big sisters are for! <br>
      But I truly hope that your life is mostly full of fun, laughter, and good times!! <br> I think me being your sister is enough of a birthday gift!! You're welcome  <i> (From all Sister's)</i><br>
      <br> - <i>Chaitu Tai</i>
    </div>
    <input type="button" class="btn btn-primary" value="close" (click)="onNoClick()">
  </div>

  <div *ngIf="data.id==6">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Tai
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Srushti.jpg" alt="Success"><br>
        Dear Sister, I know there have been times when I have teased you, pestered you, and told on you.<br>
        But I want to tell you that I think you are an amazing person. Happy Birthday to the best sister a girl could have. <br>
        Happiest Birthday!!!!
        <br> - <i>Srushti</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==8">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aditi!!!
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Mitali.jpg" alt="Success"><br>
        Happy Birthday Bahin! Thank you for always being there for me. I love you!!!!!
        <br> - <i>Mittu</i>
        <br>
        Many Many happy returns of the day Aditi! May this year you finally get a chance to have coconut with Tamarind sauce.
        <br> - <i> Pranjal Jiju</i> 
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==9">
    <h2 mat-dialog-title class="h2">
      Happy Birthday!!!
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Prajesh.jpg" alt="Success"><br>
        Cheers to another year of growing up and not getting any lighter!!! <br>
        Have one more miserable year ahead.
        <br> - <i>Prajesh</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==10">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Adu
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/NehaAtya.jpg" alt="Success"><br>
        Happy happy Birthday to the Happy go person, amazing cake Baker, beautiful soul inside, comic sense in her genes 
        and ofcourse an amazing niece <b>ADU</b>....<br> Wishing you a wonderful,healthy, and prosperous life ahead dear...   
        <br> - <i>Best wishes from Neha Atya, Mayur Kaka, and Ananya</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>
  <div *ngIf="data.id==11">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aadu
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px; " width="auto" height="auto"
        src="../../assets/KetanDada_Vahini.jpg" alt="Success"><br>
       Many many happy of the day dear Aditi. Enjoy your day. <br>
       Happy Birthday Aditi Aatya, my fav atya <i>from Kartik.</i> 
        <br> - <i>Ketan Dada Krutika Vahini and Kartik</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>
  <div *ngIf="data.id==12">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aadu
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Neha.jpg" alt="Success"><br>
        Happiest Birthday Adu Jadu, I pray that you continue to be wonderful person that you are and get everything you have ever dreamed of<br>
        And may you get all the happiness in life more than you deserve.
        <br> - <i>Neha</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>
  <div *ngIf="data.id==13">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Noddy
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Priya.jpg" alt="Success"><br>
        Happy Birthday Aadu Spaaaaadddduuuuu Noddy Bachi ab humari badi hogayi hai. Shaadi karne ja rahi hai. <br> 
        But Butttttt..... every year on your birthday, I get reminded of how much you mean to me as a friend!! Birthdays only come once a year, and your friendship only comes once in a lifetime!! <br>
        Happy Birthday Daadi Ammaa!!! Dekh kitne saare naam hai tere!!
        <br> - <i>Priya</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==14">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Noddy
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Nida.jpg" alt="Success"><br>
        Wishing you many many many happy returns of the day Noddy. Stay happy always!!
        <br> - <i>Nida</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==15">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aadu
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/AshuPatel.jpg" alt="Success"><br>
        Wishing you many many many happy returns of the day Noddy. Stay happy always!!
        <br> - <i>Ashu Patel</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==16">
    <h2 mat-dialog-title class="h2">
      Happy Birthday.....
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Sonal.jpeg" alt="Success"><br>
        Wishing you many many many happy returns of the day Noddy. Stay blessed always!!
        <br> - <i>Sonal</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==17">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aditi
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Ankita.jpg" alt="Success"><br>
        Wishing you many many many happy returns of the day Noddy. Stay happy always!!
        <br> - <i>Ankita</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==18">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Panda
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Aman.jpg" alt="Success"><br>
        Wishing many many happy returns of the day to my best friend Panda...
        <br> - <i>Aman</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==19">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Noddy
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Astha.jpg" alt="Success"><br>
        Happiest Birthday my Pune Rommie! All the best with future endeavours. 
        <br> - <i>Astha</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>
 
  <div *ngIf="data.id==20">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aadu Tai
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px;" width="auto" height="auto"
        src="../../assets/Nivedi.jpeg" alt="Success"><br>
        Many many happy returns of the day! Stay blessed and enjoy your day.
        <br> - <i>Nivedi</i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==21">
    <h2 mat-dialog-title class="h2">
      Happy Birthday Aadu
    </h2>
    <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px; " width="auto" height="auto"
        src="../../assets/NikunjDada_Vahini.jpeg" alt="Success"><br>
        Many many happy returns of the day on behalf of dada vahini.
        <br> - Nikunj Dada and Gunjan Vahini <i></i>
      </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>

  <div *ngIf="data.id==7">
    <h2 mat-dialog-title class="h2" style="font-style: italic; font-family:Arial, Helvetica, sans-serif ;">
      Some captures of b'day girl
    </h2>
     <!-- Carousel Implementation -->
     <div class="center-block" style="text-align: center;
     display: block;">
      <ngb-carousel>  
        <ng-template ngbSlide>  
          <img style="margin-bottom: 20px; width: auto;height: auto;"
          src="../../assets/Birthday_Image.jpg" alt="Success">  
         
        </ng-template>  
        <ng-template ngbSlide>  
              <img style="margin-bottom: 20px; width: auto;height: auto;"
              src="../../assets/SliderImage_1.jpg" alt="Success">  
              
          </ng-template>  
          <ng-template ngbSlide>  
              <img style="margin-bottom: 20px; width: auto;height: auto;"
              src="../../assets/SliderImage_2.jpg" alt="Success">  
             
          </ng-template>  
          <ng-template ngbSlide>  
              <img style="margin-bottom: 20px; width: auto;height: auto;"
              src="../../assets/SliderImage_3.jpg" alt="Success">  
             
          </ng-template>  
          <ng-template ngbSlide>  
            <img style="margin-bottom: 20px; width: auto;height: auto;"
            src="../../assets/SliderImage_4.jpg" alt="Success">  
           
        </ng-template>  
        <ng-template ngbSlide>  
          <img style="margin-bottom: 20px; width: auto;height: auto;"
          src="../../assets/SliderImage_5.jpg" alt="Success">  
         
      </ng-template>  
      <ng-template ngbSlide>  
        <img style="margin-bottom: 20px; width: auto;height: auto;"
        src="../../assets/SliderImage_6.jpg" alt="Success">  
       
    </ng-template>  
    <ng-template ngbSlide>  
      <img style="margin-bottom: 20px; width: auto;height: auto;"
      src="../../assets/SliderImage_7.jpg" alt="Success">  
     
  </ng-template>  
      </ngb-carousel>  
      
    <br>
    <!-- Feature -->
   <!-- <div class="center-block" style="text-align: center;
        display: block;"><img style="margin-bottom: 20px; width: auto;height: auto;"
        src="../../assets/Birthday_Image.jpg" alt="Success"> --> <br> 
    </div>
    <input type="button" class="btn btn-primary" (click)="onNoClick()" value="close">
  </div>
  
</body>

</html>