<div class="container" id="featurelist" data-aos="zoom-in-down" data-aos-duration="1400">
    <!--Contianer for blog card-->
    <div >
        <!--Card for Blog Post in row-->
        <div class="row" style="margin-top:25px;">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(4)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/MadhuTai.jpg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Madhu Tai</h4>
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(5)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/ChaituTai.jpeg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Chaitu Tai</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(6)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/Srushti.jpg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Srushti</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(8)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/Mitali.jpg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Mittu and Pranjal Jiju</h4>
                    </div>
                </div>
            </div>  
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(11)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/Ketan Dada.jpg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Dada Vahini</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(21)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/NikunjDada_Vahini.jpeg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Dada Vahini</h4>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(10)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/NehaAtya.jpg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Neha Atya</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(9)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/Prajesh.jpg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Prajesh</h4>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="card" class="blog-card icon-box" (click)="openDialog(20)">
                    <img class=" card-img-top" width="auto" height="auto" src="../../assets/Nivedi.jpeg" alt="Blog-image">
                    <div class="card-body">
                        <h4 class="card-title font-style title" style="text-align:center ;">Nivedi</h4>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>