<div class="container">
    <header class="head my-3">
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-light">
              <!-- Navbar brand -->
            <a class="navbar-brand d-flex align-items-center" routerLink="/home">
                <img class="navbar-logo" src="/assets/smarttool_logo_small.png" alt="website-icon">
                <span class="header-name" style="font-family: Lato;">Birthday Girl</span>
            </a>
            <div class="navbar ml-auto justify-content-end" id="header-navbar">
                 <!-- Links -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" id="nav-home" routerLink="/home" routerLinkActive="nav-active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" id="nav-family" routerLink = "/family" routerLinkActive="nav-active">Family</a>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" id="nav-friends" routerLink="/friends" routerLinkActive="nav-active"> Friends </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link nav-link-menu" id="nav-anudish" routerLink="/anudish" routerLinkActive="nav-active">Anudish</a>
                    </li>    
                </ul>
               
            </div>
        </nav>
    </header>
</div>