<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- Font Awsome 
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script> -->

<!--  Fonts  -->
<!-- <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet"
    type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" /> -->

<!--Font awsome -->
<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
  
  <!-- Main heading-->
<header class="masthead" style="background-color: rgb(254, 227, 184);">
    <div class="container">
      <div class="masthead-subheading">To the sweetest girl on her special day</div>
      <div class="masthead-heading text-uppercase" style="font-family: Varela;" (click)="openDialog(7)"><i> <u> Wishing you many many happy returns of the day Aditi!!</u></i></div>
      <div>
    </div>
  
    </div>
  </header>
  <!-- Complete main heading -->
  
  <!-- Detailed feature list with images--><!-- Detailed feature list with images-->
<div class="container" style=" position: relative;" id="imagecontainer">
  <!-- Carousel Implementation -->
  <div class="row">
     <p style="text-align: center; font-size: x-large; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Life without favourite people around is always incomplete, so let's cheerish some memories with them</p>
  <section class="ie-block">  
    <ngb-carousel>  
      <ng-template ngbSlide>  
        <img src="../../assets/FriendsCarousal_7.jpg"  width="auto" height="auto" alt="Time with Friends">  
        <div class="carousel-caption">  
            <h3 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Traditional attire and poses</h3>  
        </div>  
      </ng-template>  
      <ng-template ngbSlide>  
            <img src="../../assets/FriendsCarousal_1.jpg"  width="auto" height="auto" alt="Time with Friends">  
            <div class="carousel-caption">  
                <h3 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Time Spent with friends is fuel to mood</h3>  
            </div>  
        </ng-template>  
        <ng-template ngbSlide>  
            <img src="../../assets/FriendsCarousal_6.jpg"  width="auto" height="auto" alt="Bangalore Metro">  
            <div class="carousel-caption">  
                <h3 style="color: rgb(255, 255, 255); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Life is made by some little beautiful moments like this</h3>  
            </div>  
        </ng-template>  
        <ng-template ngbSlide>  
            <img src="../../assets/FriendsCarousal_3.jpg" width="auto" height="auto" alt="Channai Metro">  
            <div class="carousel-caption">  
                <h3 style="color: rgba(255, 255, 255, 1); font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">We should always explore new places with friends</h3>  
            </div>  
        </ng-template>  
     
        <ng-template ngbSlide>  
            <img src="../../assets/FriendsCarousal_5.jpg" width="auto" height="auto" alt="Mumbai Metro">  
            <div class="carousel-caption">  
                <h3 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Some best moments are indeed made with them</h3>  
            </div>  
        </ng-template>  
        <ng-template ngbSlide>  
          <img src="../../assets/CousinsSnap.jpg" width="auto" height="auto" alt="Mumbai Metro">  
          <div class="carousel-caption">  
              <h3 style="color: white; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">When its functions, time to dress-up in traditionals</h3>  
          </div>  
      </ng-template> 
    </ngb-carousel>  
  </section>  
  
<!-- Feature implementation-->

  
      <section class="card ie-block" style=" position: relative;">
        <img src="../../assets/copy_image.png"  style="width: 100%; height: 100%;" alt="Image not loaded" />
        <div class="col-12 ie-block">
          <h3> <b><i>Wishing you a Happiest Birthday dear Partner!!</i></b></h3>
          <p class="h5" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" > <i>
          So today is your special day, trying to make your day (and ofcourse mine as well) more special in different ways. <br>
          You are the sweetest person I met in my life and I am blessed to have you as my life partner. We will explore and sail in our journey together for the years to come. <br>
          Your innocent nautanki's always brings smile on my face and I like it the most. Let's keep teasing each other more in the years to come and ofcourse have abundance of fun.
        </i>
          </p>
        </div>
      </section>
  
      <section class="card ie-block" style=" position: relative;" data-aos="fade-left" data-aos-duration="5000">
        <img src="../../assets/FamilySnap.jpg" style="width: 100%; height: 100%;" alt="Image not loaded" />
        <div>
          <h3> <b><i>Happy Birthday to the girl who stole everyone's heart!</i></b></h3>
          <p class="h5" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" > 
            <i>
            We wish you a wonderful year ahead. Thank you for all the joy and laughter that you bring to our family.We couldn't imagine a life without you!<br> 
            Lots of blessings to you and Anudish. You both make a wonderful pair together.
          </i>
          </p>
          
        </div>
      </section>
  
      <section class="card ie-block" style=" position: relative;" data-aos="fade-right" data-aos-duration="5000">
        <img  src="../../assets/MomDadPic.jpg" style="width: 100%; height: 100%;" alt="Image not loaded" />
        <div>
          <h3><b><i>Happy Birthday dear Aditi!</i></b></h3>
          <p class="h5" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;" >
          <i> 
         </i> </p>
         
        </div>
      </section>

    </div>
  </div>
  <!-- End of Detailed feature list with images-->
  
  <!-- Feature list-->
  
  <div class="container" style=" position: relative;" id="featurelist" data-aos="zoom-in-down" data-aos-duration="1400">
    <h2 class="text-center h2" style="margin-top: 50px;">Food is my favourite</h2>
    <div class="row">
      <div class="col col-lg-4 col-md-4 col-12">
        <div class="row icon-boxes" (click)="openDialog(1)">
          <div class="icon-box">
            <h4 class="title"><a>Pani Puri</a></h4>
            <p class="description">Jab Man Ko Kuchh Na Bhaye, <br>
              To Pani Poori Jaroor Khaye</p>
          </div>
        </div>
      </div>
      <div class="col col-lg-4  col-md-4  col-12">
        <div class="row icon-boxes" (click)="openDialog(2)">
          <div class="icon-box">
            <h4 class="title"><a>Sizzling Brownie Love</a></h4>
            <p class="description"> The most delicious thing I make is Sizzling brownie. Click here to watch!</p>
          </div>
        </div>
      </div>
      <div class="col col-lg-4  col-md-4  col-12" >
        <div class="row icon-boxes" (click)="openDialog(3)">
          <div class="icon-box">
            <h4 class="title"><a>Cake is my Speciality</a></h4>
            <p class="description">You wanna eat yummy cakes, their you gooo!! <br> However, don't ask me to eat, I won't </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br><br>